@use '@/sass' as *;

.container {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__stateBar {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__state {
      @include typography(captionSmall);

      display: flex;
      gap: 4px;
      align-items: center;

      & > svg {
        font-size: 1.5rem;
      }
    }
    &__addCandidate {
      @include typography(captionSmall);
      color: $neutral900;

      &:disabled {
        color: $neutral300;
      }
    }
  }
}
