@use "@/sass" as *;

.container {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__stateBar {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__state {
      @include typography(captionSmall);

      display: flex;
      gap: 4px;
      align-items: center;

      & > svg {
        font-size: 1.5rem;
      }
    }
    &__addCandidate {
      @include typography(button);
      color: $neutral900;
    }
  }
  &__candidateList {
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.candidateBox {
  &__memo {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-top: 16px;
    &__text {
      height: 2.2rem;
      @include typography(bodySmall);
      color: $neutral900;
      background-color: $neutral100;

      padding: 0 16px;
      border-radius: 8px;
    }
  }
}
