@use "@/sass" as *;

.container {
  width: 7.9rem;
  height: 2.4rem;

  display: flex;
  align-items: center;

  padding: 4px 8px;

  cursor: pointer;

  @include typography(button);

  .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
