@use '@/sass' as *;

.container {
  position: relative;

  height: 2.4rem;

  display: flex;
  align-items: center;

  padding: 4px 8px;

  cursor: pointer;

  @include typography(button);

  .icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .modal {
    position: absolute;
    top: 32px;
    right: 0;

    width: 10.8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 32px;

    border-radius: 16px;

    background-color: $neutral0;

    box-shadow:
      0px 1px 8px 2px rgba(20, 20, 20, 0.1),
      0px 0px 1px 0px rgba(20, 20, 20, 0.04);

    overflow: hidden;

    transition: 0.5s all;
  }
}
