@use "@/sass" as *;

.container {
  margin-top: 46px;
  width: 100%;

  &__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  &__information {
    margin-top: 8px;
    @include typography(tabLabel);
    text-align: center;
    color: $neutral400;
  }
}
