@use "@/sass";

.container {
  width: 100%;
  padding: 24px 20px;
  position: relative;

  &__header {
    @include sass.typography(titleLarge);
  }
  &__category {
    color: sass.$neutral400;
    @include sass.typography(captionSmall);
    margin: 4px 0;
  }

  &__alignCenter {
    display: flex;
    align-items: center;
    gap: 2px;

    &__star {
      display: inline;
      font-size: 1.6rem;
      color: sass.$etc0;
    }

    &__point {
      color: #1d2433;
      @include sass.typography(captionMedium);
    }

    &__reviewsCount {
      color: sass.$neutral400;
      @include sass.typography(captionSmall);
    }
  }

  &__positionAbsoluteIcons {
    position: absolute;
    right: 20px;
    bottom: 32px;

    display: flex;
    gap: 12px;
  }
}
