@use "@/sass";

.container {
  display: flex;
  gap: 8px;
  padding: 24px 20px;
  border-bottom: 1px solid sass.$neutral100;

  &__contentsBox {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &__name {
      @include sass.typography(button);
    }

    &__secondItems {
      display: flex;
      align-items: center;

      &__star {
        display: inline;
        font-size: 1.6rem;
        color: sass.$etc0;
      }

      &__point {
        margin-left: 2px;
        @include sass.typography(captionSmall);
      }

      &__visitedAt {
        margin-left: 9px;
        color: sass.$primary300;
        @include sass.typography(captionSmall);
      }
    }

    &__content {
      @include sass.typography(bodySmall);
      text-overflow: ellipsis;
    }
  }
}
