//브라우저 스타일 초기화 또는 재설정을 정의합니다.
@font-face {
  font-family: 'SpoqaHanSans'; // 이름 선언
  src: url('../../assets/fonts/spoqaHanSans-Thin.ttf');
  font-weight: 100; // 내가 저장한 경로!
}
@font-face {
  font-family: 'SpoqaHanSans'; // 이름 선언
  src: url('../../assets/fonts/spoqaHanSans-Light.ttf');
  font-weight: 300; // 내가 저장한 경로!
}
@font-face {
  font-family: 'SpoqaHanSans'; // 이름 선언
  src: url('../../assets/fonts/spoqaHanSans-Regular.ttf');
  font-weight: 400; // 내가 저장한 경로!
}
@font-face {
  font-family: 'SpoqaHanSans'; // 이름 선언
  src: url('../../assets/fonts/spoqaHanSans-Medium.ttf');
  font-weight: 500; // 내가 저장한 경로!
}
@font-face {
  font-family: 'SpoqaHanSans'; // 이름 선언
  src: url('../../assets/fonts/spoqaHanSans-Bold.ttf');
  font-weight: 700; // 내가 저장한 경로!
}

:root {
  font-family: 'spoqaHanSans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'spoqaHanSans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f7fafc;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  display: flex;
  flex-direction: column;

  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  width: 45rem;
  min-width: 36rem;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  &::-webkit-scrollbar {
    display: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}
