@use "@/sass";

.container {
  height: 3rem;
  width: 500px;
  min-width: 360px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0 16px;

  z-index: 999;
}

.iconBox {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: bold;
  font-size: 20px;

  & > p {
    font-size: 14px;
  }
}
