@use "@/sass" as *;

@mixin icon {
  position: absolute;
  top: calc(50% - 1.5px);

  width: 24px;
  height: 24px;

  font-size: 24px;

  transform: translateY(-50%);
}

.container {
  width: 100%;
  height: 4.8rem;

  padding: 0 20px 8px 20px;

  .search_container {
    position: relative;

    padding: 5px 32px 8px 32px;

    .bottom_line {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $primary300;
    }
  }

  .searchBar {
    position: relative;

    width: 100%;
    height: 100%;

    @include typography(subTitle);

    &__input {
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .return {
    left: 0;

    @include icon;
  }
  .enter {
    right: 0;

    @include icon;

    cursor: pointer;
  }
}
