//재사용 가능한 스타일 믹스인을 정의합니다.
@use "./variables";
@use "sass:map";

@mixin typography($name) {
  font-size: map-get(variables.$typography-font-size-map, $name);
  font-weight: map-get(variables.$typography-font-weight-map, $name);
  line-height: map-get(variables.$typography-line-height-map, $name);
}

@mixin a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
