@use "sass:map";

//색상, 폰트 크기 등과 같은 변수를 정의합니다.

// color
$primary100: #d4ebff;
$primary200: #62aaff;
$primary300: #0086ff;
$primary400: #006aca;

$secondary100: #ffe2ed;
$secondary300: #ff659c;
$secondary400: #e23774;

$success100: #71d07b;
$success300: #19c43e;
$success400: #04724d;

$danger100: #fef1f2;
$danger300: #e02d3c;
$danger400: #ba2532;

$neutral0: #fff;
$neutral100: #f2f4f5;
$neutral200: #e3e5e5;
$neutral300: #cdcfd0;
$neutral400: #979c9e;
$neutral700: #3f444d;
$neutral800: #23272f;
$neutral900: #1d2433;
$neutral1000: #0a0d14;
//shadow
$shadow100:
  0px 0px 8px 0px rgba(20, 20, 20, 0.08),
  0px 0px 1px 0px rgba(20, 20, 20, 0.04);
$shadow200:
  0px 1px 8px 2px rgba(20, 20, 20, 0.1),
  0px 0px 1px 0px rgba(20, 20, 20, 0.04);
$shadow300: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);

// typography-map
$typography-font-size-map: (
  "headline": 24px,
  "titleLarge": 24px,
  "titleMedium": 18px,
  "titleSmall": 16px,
  "bodyLarge": 16px,
  "bodySmall": 14px,
  "bottom": 14px,
  "tabLabel": 14px,
  "captionLarge": 13px,
  "captionSmall": 12px,
);

$typography-font-weight-map: (
  "headline": bold,
  "titleLarge": bold,
  "titleMedium": bold,
  "titleSmall": bold,
  "bodyLarge": normal,
  "bodySmall": normal,
  "bottom": bold,
  "tabLabel": bold,
  "captionLarge": bold,
  "captionSmall": bold,
);

$typography-line-height-map: (
  "headline": 32px,
  "titleLarge": 28px,
  "titleMedium": 26px,
  "titleSmall": 24px,
  "bodyLarge": 24px,
  "bodySmall": 22px,
  "bottom": 22px,
  "tabLabel": 22px,
  "captionLarge": 22px,
  "captionSmall": 16px,
);
