@use "@/sass" as *;

.container {
  width: 100%;
  min-width: 36rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 14rem;

  p {
    @include typography(subTitle);
    color: $neutral400;
  }
}
