@use '@/sass' as *;

.container {
  width: 100%;
  height: 10.8rem;

  padding: 16px 20px;

  background-color: $neutral0;
  border: 1px solid #e3e5e5;
  border-radius: 16px;
  box-shadow: $shadow200;

  display: flex;
  flex-direction: column;
  gap: 20px;
  .titleBox {
    display: flex;
    gap: 8px;
    align-items: center;

    &__title {
      @include typography(titleSmall);
      color: $neutral900;
    }
  }
  .stateBox {
    display: flex;
    justify-content: space-between;
    &__state {
      @include typography(captionSmall);
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}

.gray {
  * {
    color: $neutral400;
  }
}

.blue {
  * {
    color: $primary300;
  }
}
