@use '@/sass' as *;

.vote_box {
  width: 100%;
  height: 17.5rem;

  padding: 0 20px;

  .contents {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(
      129deg,
      #267dff 0.29%,
      rgba(98, 170, 255, 0.95) 50.64%,
      rgba(142, 255, 144, 0.88) 169.29%
    );

    border-radius: 1.6rem;

    .left {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text {
        @include typography(titleSmall);
      }
    }
    .right {
      width: 9.8rem;
      height: 9.8rem;
      padding: 5px 13px;
    }
  }
}
.title {
  @include typography(subTitle);
  color: $neutral900;
  margin-bottom: 8px;
}
.subText {
  @include typography(tabLabel);
  color: $neutral400;
}
.buttons__cancel {
  @include typography(button);
  width: 50%;
  color: $neutral400;
}
.buttons__action {
  @include typography(button);
  width: 50%;
  color: $primary400;
}
