@use "@/sass" as *;

.container {
  position: relative;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 24px;

  background-color: $primary200;

  .map {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .slide {
    position: relative;

    z-index: 1000;
  }
}
