@use "@/sass";

.container {
  padding: 40px 0;
  border-bottom: 12px solid sass.$neutral100;

  &__title {
    padding: 8px 20px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }

    &__rightBox {
      display: flex;
      cursor: pointer;

      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }

  &__pointBox {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 0 20px;
    margin-bottom: 16px;

    &__star {
      display: inline;
      font-size: 32px;
      color: #fed600;
    }

    &__point {
      color: #1d2433;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }

    &__reviewsCount {
      color: sass.$neutral400;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__reviewsBox {
    margin-bottom: 16px;
  }

  &__allBtn {
    padding: 8px;

    margin: 0 20px;

    border: 1px solid sass.$neutral300;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
    }
  }
}
