@use "@/sass" as *;

.container {
  width: 100%;
  max-width: 45rem;

  position: fixed;
  top: 0;

  padding: 16px 20px;

  background-color: $neutral0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2.2rem;

  z-index: 3;
}

.leftSide {
  display: flex;
  gap: 12px;

  &__title {
    @include typography(button);
  }
  &__backIcon {
    font-size: 2rem;
    &:disabled {
      color: $neutral300;
    }
  }
}

.rightIconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  font-size: 2.2rem;
}
