@use "@/sass" as *;

.container {
  height: 4rem;
  width: 45rem;
  min-width: 36rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 16px;

  background-color: $neutral0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;

  z-index: 100;
}

.title {
  @include typography(tabLabel);
  height: 2.2rem;
  margin-left: 40px;
}

.iconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
