@use '@/sass' as *;

.container {
  width: 32px;
  height: 32px;

  border: 2px solid #fff;
  border-radius: 50%;
  background-color: $secondary400;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 3;
  .number {
    @include typography(titleSmall);

    color: #fff;
  }
}
