@use '@/sass' as *;

.lists_box {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-top: 24px;

  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .title {
    @include typography(titleMedium);
    color: #1d2433;

    padding: 8px 20px;
  }

  .column_4px {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .column_8px {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
