@use '@/sass' as *;

.slideContainer {
  position: fixed;
  top: 0;
  width: 450px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .slide {
    display: flex;
    justify-content: center;
    z-index: 101;

    &__content {
      width: 450px;
      border-radius: 16px 16px 0px 0px;
      background-color: $neutral0;
      padding: 24px 24px 40px 24px;
      display: flex;
      flex-direction: column;

      .closeButtonContainer {
        display: flex;
        justify-content: flex-end;
      }

      .leftCloseButtonContainer {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
