@use "@/sass" as *;

.container {
  position: absolute;
  top: -88px;

  width: 100%;

  background-color: $neutral0;

  z-index: 100;

  transition: 1s all;

  .exitSection {
    width: 100%;

    padding: 16px 20px;
  }
  .title {
    padding: 8px 20px;

    @include typography(headline);
  }
  .popularSection {
    padding: 0 20px;

    margin-top: 8px;

    & > p {
      padding: 12px 0;

      @include typography(titleMedium);
    }
  }
  .submitBox {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 9.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 24px;

    background-color: $neutral0;

    box-shadow:
      0px 1px 8px 2px rgba(20, 20, 20, 0.1),
      0px 0px 1px 0px rgba(20, 20, 20, 0.04);

    .submitButton {
      width: 100%;
      height: 100%;

      background-color: $primary300;
      color: $neutral0;

      border-radius: 16px;

      text-align: center;

      @include typography(button);
    }
  }
}
