@use '@/sass' as *;

.container {
  position: relative;

  width: 100%;
  min-width: 33.5rem;
  height: 10rem;
  padding-right: 16px;

  border-radius: 16px;
  // border: 2px solid $neutral200;
  box-shadow: $shadow200;
  background-color: $neutral0;

  display: flex;
  gap: 12px;

  z-index: 2;

  & > img {
    height: 100%;
    width: 8rem;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
  }
}

.isMapStyle {
  @extend .container;
  width: 33.5rem;
  height: 12rem;

  padding: 12px;
  & > img {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 8px;
  }
}

.firstBorder {
  border: 1px solid #e23774;
}
.secondBorder {
  border: 1px solid #2388ff;
}
.thirdBorder {
  border: 1px solid #cdcfd0;
}

.rankTag {
  position: absolute;
  left: -1px;
  top: -1px;
}

.main {
  width: 100%;
  padding: 16px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__contextBox {
    display: flex;
    flex-direction: column;
    // gap: 8px;

    &__name {
      text-align: start;
      @include typography(titleSmall);
      color: $neutral900;
    }
    &__category {
      @include typography(captionSmall);
      color: $neutral400;
    }
    &__addDay {
      @include typography(captionSmall);
      color: $neutral800;
      margin-top: 8px;

      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  &__voteBox {
    @include typography(bodySmall);
    color: $neutral800;

    padding: 12px;

    border-radius: 8px;
    border: 1px solid $neutral200;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $neutral800;

    &__star {
      font-size: 2.1rem;
    }
    &__vote {
      @include typography(captionSmall);
    }
  }
}

.isCandidateSelecting {
  * {
    color: $neutral300;
  }
}
