@use '@/sass' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__title {
    @include typography(subTitle);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(4rem * 5 + 16px * 4);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      &__name {
        @include typography(tabLabel);
      }
    }
  }
}
