@use '@/sass' as *;

.container {
  padding-top: 56px;
  width: 100%;
  min-width: 36rem;
  max-width: 45rem;
  background-color: $primary200;
  position: relative;
  // (원래 24rem)
  height: 100vh;

  //스크롤 삭제
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  // 맨 위에 fixed한다고 header에서 분리했습니다!
  //바텀패딩을 추가해야 탭 보더래디우스 뒤에 색이 보여요,,ㅠ
  .iconTab {
    width: 100%;
    min-width: 36rem;
    max-width: 45rem;
    padding: 16px 16px 25px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    // flex-shrink: 0;
    gap: 1.2rem;
    overflow: hidden;
    background-color: $primary200;

    position: fixed;
    top: 0;
    z-index: 4;

    &__wrapper {
      position: relative;

      &__eclips {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        right: 3px;
        background: $primary400;
      }
    }
  }

  .header {
    color: $neutral0;
    width: 100%;
    min-width: 36rem;
    max-width: 45rem;
    padding-bottom: 5px;
    //position:fixed;
    // top: 0;
    // z-index: 2;

    .titleContainer {
      display: flex;
      padding: 8px 20px;
      flex-direction: column;
      align-items: flex-start;

      &__dDayTitle {
        @include typography(titleLarge);
      }

      &__placeTitle {
        @include typography(titleLarge);
        line-height: 3.2rem;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
      }

      .dateContainer {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        &__dateTitle {
          @include typography(bodySmall);
          letter-spacing: -0.14px;
          text-decoration-line: underline;
        }

        &__editButton {
          @include typography(captionSmall);
          color: $neutral100;
        }
      }
    }

    .userContainer {
      display: flex;
      width: 100%;
      padding: 4px 20px;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0 14px 0;

      .avatarContainer {
        @include typography(captionSmall);
        display: flex;
        align-items: center;
        gap: 0.4rem;

        &__group {
          span {
            border: 1px solid $neutral0;
          }
        }
      }

      .addPersonButton {
        @include typography(captionLarge);
        display: flex;
        padding: 8px 12px 8px 8px;
        align-items: center;
        border-radius: 100px;
        border: 1px solid $neutral0;
        backdrop-filter: blur(2px);
      }
    }
  }

  .contents {
    width: 100%;
    height: calc(100vh - 112px);

    background-color: $neutral0;
    border-radius: 16px 16px 0px 0px;
    // z-index: 2;
    // margin-top: 22.5rem;
    // border: 1px solid white;

    //indicator와 tabList를 하나로 묶은 div입니다
    &__stickyTabList {
      position: sticky;
      top: 0px;
      z-index: 5;
      border-radius: 16px 16px 0px 0px;
      background-color: $neutral0;
    }

    &__tabList {
      @include typography(tabLabel);
      color: $neutral300;
      padding: 12px 0;
    }

    &__tabIndicator {
      background-color: $primary200;
      height: 2px;
      border-radius: 2px;
    }

    &__tabContent {
      height: calc(100% - 56px);
      min-height: calc(100vh - 10rem);
      margin-top: 0;
      // overflow-y: auto;
      // max-height: calc(100vh - 34rem);
    }
  }
}
