@use '@/sass' as *;

.panelContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .mapContainer {
    position: sticky;
    top: 9.6rem;
    width: 100%;
    min-width: 36rem;
    max-width: 45rem;
    height: 16rem;

    .zoomInButton {
      position: absolute;
      top: 11rem;
      right: 2rem;
      z-index: 10;
    }
  }

  .routeContainer {
    .journeysContainer {
      display: flex;
      flex-direction: column;
      gap: 6.3rem;
      padding-bottom: 12rem;
    }
  }
}
