@use '@/sass' as *;

.container {
  margin-bottom: 70px;
  position: relative;

  &__title {
    @include typography(titleLarge);

    margin-bottom: 15px;
  }
}

.dimmedOverlay {
  position: absolute;
  width: 100%;
  height: 30rem;
  background: #ffffff80;
  z-index: 3;
}
