@use '@/sass' as *;

.container {
  position: relative;

  &:hover {
    button {
      opacity: 1;
    }
  }
  .slide_box {
    padding: 0 20px;
    @include slide_list_container;
    gap: 8px;
  }
}
