@use "@/sass" as *;

.container {
  width: 14.4rem;

  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 14.4rem;

    border-radius: 16px;
  }

  button {
    @include typography(captionSmall);
    width: 100%;
    height: 36px;

    margin: 5px 0;

    border: 2px solid #cdcfd0;
    border-radius: 8px;

    text-align: center;
    color: $neutral800;
  }

  &__name {
    @include typography(titleSmall);
  }

  &__category {
    @include typography(captionSmall);
    color: $neutral400;
  }

  &__reviewBox {
    display: flex;
    align-items: center;
    gap: 2px;

    &__rating {
      @include typography(captionMedium);
      display: flex;
      align-items: center;

      .star {
        padding: 2px;
        color: $etc0;
      }
    }
    &__counts {
      color: $neutral400;
    }
  }
}
