@use "@/sass" as *;

.container {
  width: 14.4rem;

  display: flex;
  flex-direction: column;

  .imgBox {
    width: 14.4rem;
    height: 14.4rem;

    margin-bottom: 4px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 16px;
    }
  }

  button {
    @include typography(captionSmall);
    height: 36px;

    padding: 8px;
    margin-bottom: 8px;

    border: 1px solid #cdcfd0;
    border-radius: 8px;

    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: $neutral800;

    & > svg {
      font-size: 1.6rem;
    }
  }
  .textBox {
    margin-bottom: 2px;
    &__name {
      @include typography(titleSmall);
    }

    &__category {
      @include typography(captionSmall);
      color: $neutral400;
    }
  }

  .reviewBox {
    display: flex;
    align-items: center;
    gap: 4px;

    &__rating {
      @include typography(captionMedium);
      display: flex;
      align-items: center;

      .star {
        padding: 2px;
        color: $etc0;
      }
    }
    &__counts {
      @include typography(captionSmall);
      color: $neutral400;
    }
  }
}
