@use '@/sass' as *;

.container {
  width: 100%;
  padding: 16px 20px;

  display: flex;
  gap: 8px;

  border-bottom: 1px solid #f2f4f5;

  &__rightSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
  }
}

.candidateBox {
  display: flex;
  align-items: center;
  gap: 12px;

  &__image {
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 16px;

    & > img {
      height: 100%;
      width: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    &__name {
      @include typography(titleSmall);
      color: $neutral900;
      white-space: pre-wrap;
    }
    &__category {
      @include typography(captionSmall);
      color: $neutral400;
    }
  }
}

.textareaBox {
  position: relative;
  width: 100%;
  height: 6.6rem;
  border-radius: 8px;
  border: 1px solid #cdcfd0;
  background-color: aqua;
}
.textarea {
  @include typography(bodySmall);
  color: $neutral900;
  width: 100%;
  height: 100%;
  padding: 12px;
  resize: none;
  border-radius: 8px;

  &::placeholder {
    @include typography(bodySmall);
    color: $neutral300;
  }
  &:focus {
    outline: 1px solid #2388ff;
  }

  &__counts {
    position: absolute;
    @include typography(captionSmall);
    color: $neutral800;

    bottom: 5px;
    right: 8px;
  }
}
