@use '@/sass' as *;

.container {
  height: 3rem;

  display: flex;
  align-items: center;
  gap: 2px;

  padding: 4px 4px 4px 10px;

  border-radius: 16px;

  @include typography(tabLabel);

  cursor: pointer;

  white-space: nowrap;

  cursor: pointer;

  .container {
    position: absolute;
    top: -88px;
  }

  .icon {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
