@use "@/sass" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem; //

  z-index: 4;

  &__top {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    gap: 8px;

    &__icon {
      width: 2rem;
      height: 2rem;
    }
  }

  button {
    @include typography(button);
    color: $neutral900;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__iconWrapper {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    background-color: $neutral100;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
