@use '@/sass' as *;

.container {
  color: $neutral900;

  .body {
    padding: 80px 20px;

    h2 {
      @include typography(headline);

      .imoji {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        vertical-align: text-top;

        background-image: url('@/assets/icons/crying_imoji.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .bar {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: $neutral200;
    }

    .desc {
      margin-top: 24px;

      @include typography(tabLabel);
    }

    .removeList {
      margin-bottom: 16px;
      @include typography(captionSmall);

      & > li {
        margin-bottom: 8px;
      }
    }

    .input {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 24px;
      padding: 16px;
      border: 1px solid $neutral200;
      border-radius: 8px;

      @include typography(bodyLarge);
      color: $neutral900;

      &:focus {
        outline: none;
        border-width: 1px;
        border-color: $primary300;
      }

      &::placeholder {
        color: $neutral400;
      }

      &.error {
        border-color: $danger300;
      }

      &:disabled {
        color: $neutral300;
      }
    }
  }
}
