@use "@/sass" as *;

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  // gnb + 홈 하단여백
  padding-top: 16px;

  font-family: "suit", sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .title {
    @include typography(titleMedium);
    color: #1d2433;

    padding: 8px 20px;
  }

  .lists_box {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .column_4px {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .column_8px {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
