@use "@/sass" as *;

.container {
  @include slide_button_container;

  &__imgWrapper {
    @include slide_list_container;

    gap: 8px;

    img {
      width: 7.6rem;
      height: 7.6rem;
    }
  }
}
