@use "@/sass" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $neutral900;

  h1 {
    padding: 16px 20px;

    @include typography(button);
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &__image {
      position: relative;
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 50%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &__edit {
        position: absolute;
        bottom: 0;
        right: 0;

        background-color: $neutral100;
        border: 1px solid $neutral200;
        border-radius: 50%;

        width: 2.6rem;
        height: 2.6rem;
        padding: 4px;
      }
    }

    &__userName {
      @include typography(headline);
    }
  }

  .mywork {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 20px;
    margin-bottom: 8px;

    border: 1px solid $neutral200;
    border-radius: 16px;

    button {
      padding: 16px;
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;

      &:hover {
        border-color: $primary200;

        .myworkTitle {
          font-weight: 600;
        }
      }
    }

    .colBar {
      width: 1px;
      height: 5rem;
      background-color: $neutral200;
    }

    .myworkTitle {
      @include typography(subTitle);
    }
  }

  .infoDetail {
    & > li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 24px 20px;
      border-bottom: 1px solid $neutral200;
      cursor: pointer;

      @include typography(tabLabel);

      &:hover {
        font-weight: 600;
        border-color: $neutral300;
      }

      svg {
        fill: $neutral400;
      }
    }

    &__alert {
      &__left {
        display: flex;
        align-items: center;
        gap: 4px;

        &__tooltip {
          position: relative;

          .tooltipList {
            display: none;
            position: absolute;
            left: -38px;
            width: 20rem;
            padding: 21px 8px 8px 16px;
            margin-top: 2px;
            border-radius: 8px;

            background-image: url("@/assets/icons/tooltipFrame.svg");
            background-repeat: no-repeat;
            background-size: auto;

            list-style-type: disc;
            list-style-position: inside;

            @include typography(captionSmall);
            line-height: 1.8rem;
            color: $neutral0;

            @include animate(showTooltip, 0.2s, ease-in, forwards);

            & > li > span {
              margin-left: -5px;
            }
          }

          & > button {
            display: block;

            &:focus ~ .tooltipList,
            &:hover ~ .tooltipList {
              display: block;
            }
          }
        }
      }

      &__button {
        position: relative;
        width: 5.6rem;
        height: 3.2rem;
        border-radius: 32px;

        .alertState {
          position: absolute;
          top: 0;
          width: 3.2rem;
          height: 3.2rem;

          background-color: $neutral0;
          border-radius: 50%;
          transition: all 0.2s ease-in;
        }

        &.on {
          background-color: $success300;
          .alertState {
            left: calc(100% - 3.2rem);
            border: 2px solid $success300;
          }
        }
        &.off {
          background-color: $neutral200;
          .alertState {
            left: 0;
            border: 2px solid $neutral200;
          }
        }
      }
    }

    .version {
      color: $neutral400;
    }
  }
}

@include keyframes(showTooltip) {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
