@use '@/sass' as *;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  .containerDismiss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: calc(45rem - 64px);
    padding: 32px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: $neutral0;
    @media screen and (max-width: 450px) {
      width: calc(100% - 64px);
    }
    .wrapperText {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;

      &__title {
        color: $neutral900;
        @include typography(subTitle);
      }
      &__body {
        color: $neutral400;
        @include typography(tabLabel);
      }
    }
    .wrapperInvalidButton {
      width: 100%;
      border-top: 1px solid $neutral200;
      padding: 16px;
      text-align: center;
      &__confirm {
        color: $primary400;
        @include typography(button);
      }
    }
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: calc(45rem - 64px);
    padding: 32px 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: $neutral0;
    @media screen and (max-width: 450px) {
      width: calc(100% - 64px);
    }

    .wrapperText {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;

      &__title {
        color: $neutral900;
        @include typography(subTitle);
      }
      &__body {
        color: $neutral400;
        @include typography(tabLabel);
      }
    }
    .wrapperButton {
      width: 100%;
      padding: 0 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__accept {
        color: $primary400;
        @include typography(button);
      }
      &__cancel {
        color: $neutral400;
        @include typography(button);
      }
    }
  }
}
