@use "@/sass" as *;

.Container {
  .calendarContainer {
    margin-top: 10.2rem;
    margin-bottom: 14rem;
  }

  .dateChoiceContainer {
    background-color: $neutral0;
    box-shadow: $shadow200;
    position: fixed;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    max-width: 45rem;
    height: 13.8rem;

    .dateChoice {
      display: flex;
      padding: 22px 0;
      padding-left: calc((100% - 32.7rem) / 2);
      align-items: center;
      gap: 8px;

      span {
        @include typography(titleSmall);
      }
    }
  }
}
