@use '@/sass' as *;

.container {
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .image {
    position: relative;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    border: 2px solid $neutral200;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__edit {
      position: absolute;
      bottom: 0;
      right: 0;

      background-color: $neutral100;
      border: 1px solid $neutral200;
      border-radius: 50%;

      width: 2.6rem;
      height: 2.6rem;
      padding: 4px;
    }
  }

  .userName {
    @include typography(headline);
  }
}
