@use '@/sass' as *;

.modalContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: calc(450px - 40px);
  padding: 14px 16px;
  border-radius: 8px;
  background-color: $neutral800;

  @media (max-width: 450px) {
    width: calc(100% - 40px);
  }

  &__text {
    color: $neutral0;
    @include typography(tabLabel);
  }
}
