@use "@/sass" as *;

.modalContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 33.5rem;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: $neutral900;

  &__text {
    color: $neutral0;
    @include typography(button);
  }
}
