@use "@/sass" as *;

.container {
  display: flex;
  flex-direction: column;

  &__profile {
    display: flex;
    flex-direction: row;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;

    &__nickName {
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.8rem;
      letter-spacing: -0.02rem;
    }

    &__editProfile {
      color: $neutral400;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: -0.012rem;
    }
  }
}
