@use "@/sass" as *;

.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 9;

  .slide {
    z-index: 10;
    background: $neutral0;

    .container {
      width: 28rem;
      display: flex;
      flex-direction: column;

      .wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        margin: 20px 0 12px;
        &__button {
          font-size: 2.4rem;
        }
      }

      .profile {
        display: flex;
        flex-direction: row;
        display: flex;
        padding: 0px 20px;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;

        &__nickName {
          font-style: normal;
          letter-spacing: -0.02rem;
          @include typography(titleLarge);
        }

        &__editProfile {
          color: $neutral400;
          font-style: normal;
          letter-spacing: -0.012rem;
          @include typography(captionSmall);
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
}
