.container {
  overflow: hidden;
  position: relative;

  &__imgWrapper {
    position: relative;
    display: flex;
    gap: 8px;

    transition: all 1s;
    img {
      width: 76px;
      height: 76px;
    }
  }

  &__leftBtn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-10px, -50%);

    width: 24px;
    height: 24px;
    border-radius: 12px;

    background-color: #ffffff;
    z-index: 2;
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__rightBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-10px, -50%);

    width: 24px;
    height: 24px;
    border-radius: 12px;

    background-color: #ffffff;
    z-index: 2;
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
