@use '@/sass' as *;

.container {
  position: fixed;
  top: 0;

  width: 100%;
  max-width: 45rem;
  height: 5.6rem;

  padding: 20px 16px;

  background-color: $neutral0;

  z-index: 1000;

  .icons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    font-size: 2.4rem;

    &__wrapper {
      position: relative;

      &__eclips {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        right: 3px;
        background: $primary400;
      }
    }
  }
}
