@use "@/sass" as *;

.container {
  position: relative;

  label {
    display: block;

    @include typography(tabLabel);
    color: $neutral900;
  }

  small {
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;

    @include typography(captionSmall);
    color: $danger300;
  }

  .email,
  .emailResult,
  .password,
  .passwordConfirm,
  .profile {
    position: relative;
    margin-top: 20px;

    &:focus-within {
      input {
        outline: none;
        border-width: 1px;
        border-color: $primary300;

        &.error {
          border-color: $danger300;
        }
      }

      .removeBtn {
        display: block;
      }
    }
  }

  .input {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 24px;
    padding: 16px;
    border: 1px solid $neutral200;
    border-radius: 8px;

    @include typography(bodyLarge);
    color: $neutral900;

    &::placeholder {
      color: $neutral400;
    }

    &.error {
      border-color: $danger300;
    }
  }

  .removeBtn {
    display: none;
    position: absolute;
    top: 47px;
    right: 14px;
    cursor: default;
  }

  .userEmail {
    &__label {
      @include typography(tabLabel);
      color: $neutral900;
    }

    &__email {
      @include typography(titleSmall);
    }
  }

  .sertCode {
    position: relative;

    input {
      margin-bottom: 12px;
    }

    &__label {
      margin-top: 32px;
    }

    &__due {
      position: absolute;
      top: 45px;
      right: 14px;

      @include typography(bodyLarge);
      color: $primary300;

      &.timeout {
        color: $neutral300;
      }
    }
  }

  .emailResult {
    display: flex;
    gap: 8px;

    @include typography(captionSmall);

    &__timein {
      color: $neutral400;
    }
    &__timeout {
      color: $danger300;
    }
    &__btn {
      @include typography(captionSmall);

      &:hover {
        font-weight: 700;
      }
    }
  }
}
