@use "@/sass" as *;

.emptyRouteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    h1 {
      @include typography(subTitle);
      color: $neutral400;
    }

    p {
      @include typography(captionSmall);
      color: $neutral300;
    }
  }
}
