@use '@/sass' as *;

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 36rem;
  max-width: 45rem;
  height: 20.5rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 14px;
  box-shadow: $shadow200;
  z-index: 2;
  background-color: $neutral0;

  .daysButtonContainer {
    position: absolute;
    top: 0;
    display: flex;
    gap: 0.8rem;
    width: 100%;
    max-width: 36rem;
    max-width: 45rem;
    padding: 24px 20px 0 20px;

    button {
      @include typography(button);
      display: flex;
      padding: 8px 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }

    .activeDayButton {
      border: 1px solid $primary300;
      background-color: $primary300;
      color: $neutral0;
    }

    .inactiveDayButton {
      border: 1px solid $neutral300;
      background-color: $neutral0;
      color: $neutral800;
    }
  }

  .swiperSlideItem {
    padding: 1rem 0;
    min-width: 37.5rem;
  }
}
