@use "@/sass" as *;

.container {
  padding: 40px 0;

  &__title {
    padding: 8px 20px;

    h3 {
      @include typography(titleMedium);
    }
  }

  &__slideContainer {
    padding: 0 20px;
    @include slide_button_container;

    &__slide {
      @include slide_list_container;
      gap: 16px;
    }
  }
}
