@use '@/sass' as *;

.header {
  position: fixed;
  width: 100%;

  padding: 16px 20px;
  background-color: $neutral0;

  display: flex;
  align-items: center;
  gap: 12px;

  @include typography(button);
  color: $neutral900;

  z-index: 10;
}

.body {
  width: 100%;

  .map {
    width: 100%;
    height: 100%;
  }
}

.footer {
  position: fixed;
  width: 100%;
  padding: 24px 20px;
  bottom: 0;

  z-index: 10;

  &__card {
    width: 100%;
    height: 12rem;
    background-color: $neutral0;
    border-radius: 16px;
    padding: 12px;

    display: flex;
    align-items: center;
    gap: 12px;

    position: relative;

    img {
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 8px;
    }

    &__textWrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;

      &__name {
        @include typography(titleSmall);
        color: $neutral900;
      }
      &__category {
        @include typography(captionSmall);
        color: $neutral400;
      }
    }

    &__icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
