@use '@/sass' as *;

.container {
  width: 14rem;
  min-height: 5.6rem;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 20px;

  text-align: center;

  color: $neutral900;

  @include typography(subTitle);
}
