@use "@/sass" as *;

.container {
  position: fixed;
  bottom: 0;

  max-width: 500px;
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: space-around;
  box-shadow:
    0px -2px 8px 0px rgba(20, 20, 20, 0.04),
    0px -1px 1px 0px rgba(20, 20, 20, 0.02);

  background-color: $neutral0;

  a {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
