@use '@/sass' as *;

.FromVoteContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  margin-top: 7rem;

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 36rem;
    max-width: 45rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    background-color: $neutral0;
    padding: 16px 20px;

    h1 {
      @include typography(button);
      color: $neutral900;
    }
  }

  .resetButtonContainer {
    position: absolute;
    right: 20px;
    padding-top: 8px;

    button {
      @include typography(tabLabel);
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }
}
