@use "@/sass" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem; //

  button {
    @include typography(button);
    color: $neutral900;

    display: flex;
    gap: 10px;
  }
}
