@use '@/sass' as *;

.container {
  display: flex;
  gap: 8px;
  padding: 24px 20px;
  border-bottom: 1px solid $neutral100;

  &__imgWrapper {
    img {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__contentsBox {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    overflow: hidden;

    &__name {
      @include typography(button);
      display: flex;
      align-items: center;
      gap: 4px;

      &__google {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    &__secondItems {
      display: flex;
      align-items: center;

      &__star {
        display: inline;
        font-size: 1.6rem;
        color: $etc0;
      }

      &__point {
        margin-left: 2px;
        @include typography(captionSmall);
      }

      &__visitedAt {
        margin-left: 9px;
        color: $primary300;
        @include typography(captionSmall);
      }
    }

    &__content {
      @include typography(bodySmall);
      text-overflow: ellipsis;
    }
  }
}
