@use "@/sass" as *;

.container {
  display: flex;
  gap: 8px;
  padding: 24px 20px;
  border-bottom: 1px solid $neutral100;

  &__contentsBox {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &__name {
      @include typography(button);
    }

    &__secondItems {
      display: flex;
      align-items: center;

      &__star {
        display: inline;
        font-size: 1.6rem;
        color: $etc0;
      }

      &__point {
        margin-left: 2px;
        @include typography(captionSmall);
      }

      &__visitedAt {
        margin-left: 9px;
        color: $primary300;
        @include typography(captionSmall);
      }
    }

    &__content {
      @include typography(bodySmall);
      text-overflow: ellipsis;
    }
  }
}
