@use '@/sass' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;

  & > li {
    display: flex;

    height: 9rem;
    border: 1px solid $neutral200;
    border-radius: 16px;
  }

  .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 6.6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 16px 0px 0px 16px;

    &.default {
      background-size: 70% 70%;
    }

    & > span {
      z-index: 100;
      @include typography(button);
      color: $neutral0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 16px 0px 0px 16px;
    }
  }

  .content {
    flex: 1 1 auto;
    padding: 20px 16px;
    min-width: 0;

    &__title {
      margin-bottom: 4px;

      @include typography(titleSmall);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__date {
      @include typography(bodySmall);
      color: $neutral400;
    }
  }

  .observeTarget {
    display: flex;
    justify-content: center;

    & > img {
      width: 30px;
    }
  }
}
